.community-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Allows text to wrap on small screens */
}

.community {
    position: relative;
    top: 695px;
    z-index: 5;
    background-color: #FFF;
    padding: 20px;
    min-height: 90vh; /* Responsive height */
}

/* Heading Styles */
.community-heading h2 {
    text-transform: uppercase;
    font-family: PlayFireDisplay;
    font-weight: 600;
    font-size: clamp(24px, 5vw, 46px); /* Responsive font size */
    margin-right: 10px;
}
.community-heading h2 span {
    color: #006D5A;
}
.community-heading h4 {
    font-family: latoRegular;
    color: #181515;
    -webkit-text-stroke: 1px #181515;
    margin-right: 10px;
    font-size: clamp(12px, 2vw, 20px); /* Responsive font size */
}

/* Image Container */
.community-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.community img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Slick Dots */
.community .slick-dots {
    top: -80px !important;
    right: 0;
    width: 19% !important;
}
.community .slick-dots li button:before {
    background: #000;
    color: #1a1919;
    height: 2px;
    width: 25px;
    border-radius: 0;
    font-size: 0;
    line-height: 22px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .community {
        top: 90vh;
        padding: 30px;
    }
    .community-heading {
        flex-direction: column;
        text-align: center;
    }
    .row.gap-1 {
        gap: 0 !important; /* Removes the gap in mobile view */
    }
}

@media (max-width: 768px) {
    .community {
        top: 90vh;
        padding: 20px;
    }
    .community-heading h2 {
        font-size: clamp(20px, 4vw, 36px);
    }
    .community-heading h4 {
        font-size: clamp(12px, 3vw, 18px);
    }
    .community img {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    .community .slick-dots {
        width: 40% !important;
        top: -50px !important;
    }
    .community-heading {
        flex-direction: row;
        text-align: center;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

}

@media (max-width: 480px) {
    .community {
        padding-top: 30px;
    }

    .community h2 {
        font-size: 18px;
    }
    .community h4 {
        font-size: 14px;
    }
    .community img {
        width: 120px !important;
        height: 120px !important;
    }
}
