.navbar{
    padding: 0 !important;
}
.hero {
    background-color: #F3F3F3;
    height: 600px;
    position: fixed;
    top: 100px;
    z-index: 0;
    width: 100%;
}
.img{
    position: relative;
}

.img img {
    position: absolute;
    right: 80px;
    top: 0;
    height: 600px;
}
.texts {
    position: relative;
    left: 140px;
    top: 120px;
}
.heading {
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    color: #006D5A;
    font-family: PlayFireDisplay;
    letter-spacing: 2px;
}
.heading span{
    font-size: 70px;
}
.texts .para {
    font-size: 17px;
    font-family: futuramdbt;
    position: absolute;
    left: 7px;
    width: 78%;
    top: 226px;
}
.btns {
    position: absolute;
    top: 305px;
}
.btns .bookSeion{
    background-color: #006D5A;
    color: #fff;
    font-family: latoRegular;
    border: none;
    border: none;
    font-size: 17px;
    padding: 11px 26px;
    border-radius: 6px;
    margin: 0 10px;
}
.btns .contactUS{
    font-family: latoRegular;
    border: none;
    border: none;
    font-size: 17px;
    margin: 0 10px;
    color: #006D5A;
    font-weight: bold !important;
}
.btns .contactUS svg{
    font-size: 17px;
}
/* about sec css */
.about-us{
    padding: 50px 30px;
    position: relative;
    top: 695px;
    z-index: 2;
    background-color: #fff;
}
.about-us img{
    height: 572px;
}

.about-us h2 {
    font-family: PlayFireDisplay;
    font-size: 40px;
    font-weight: 600;
    margin-top: 66px;
    margin-bottom: 26px;
}

.about-us h3 {
    font-family: futuramdbt;
    font-size: 43px;
    color: #006D5A;
    margin-bottom: 20px;
}
.about-us p {
    font-family: futuramdbt;
    font-size: 13px;
    width: 78%;
}
.about-us .read-more-btn {
    background-color: #006D5A;
    color: #fff;
    font-family: futuramdbt;
    border: none;
    border: none;
    font-size: 14px;
    padding: 9px 32px;
    border-radius: 10px;
    margin: 12px 10px;
    margin-left: 0px;
}
.counterup {
    background-color: #EFEFEF;
    padding: 60px 20px;
    background-image: url(/src/assets/image/counterup-bg.png);
    background-position: center;
    position: relative;
    z-index: 2;
    top: 695px;
}
.counterup h3{
    font-size: 45px;
    font-family: boldfuturamdbt;
    color: #006D5A;
}
.counterup .row {
    padding: 0px 144px !important;
}
.counterup p{
    margin-bottom: 0;
    font-family: futuramdbt;
    color: #181515;
}
.programs {
    padding: 30px 0;
    position: relative;
    background: #fff;
    top: 695px;
}
.programs .row {
    margin-top: 55px;

}
.programs h2{
    font-family:PlayFireDisplay ;
    font-size: 40px;
    color: #006D5A;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 20px;
}
.programs h2 span{
    color: #181515;
}
.programs .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;

}

.programs .content{
padding: 80px;
}
.programs .content .num{
    font-size: 34px;
    color: #006D5A;
    font-family: lato;
}
.programs .content h3 {
    font-family: boldfuturamdbt;
    color: #181515 !important;
    font-size: 30px;
    margin-top: 30px;
}
.programs .content p {
    font-size: 14px;
    font-family: futuramdbt;
    color: #595959;
    margin: 20px 0;
    letter-spacing: 0px;
}
.programs .content ul{
    list-style: none;
    padding: 0;
}
.programs .content ul li img{
    height: 35px;
    width: 35px;
    margin: 10px 20px;
    margin-left: 0;
}
.programs .content ul li span{
    font-family:futuramdbt ;
    color: #424747;
}
.program-btn {
    background-color: #006D5A;
    color: #fff;
    font-family: futuramdbt;
    border: none;
    border: none;
    font-size: 15px;
    padding: 9px 41px;
    border-radius: 10px;
    margin: 12px 10px;
    margin-left: 0px;
}
.arrow img {
    height: 58px;
    position: absolute;
    left: 171px;
    top: 20px;
}
.arrow-point img{
    height: 20px;
    position: absolute;
    bottom: 13px;
    left: 259px;
}

.xyz{
    display: flex;
    overflow-x: scroll;
    width: auto;
    background-color: #fff !important;
    z-index: 2;
}
.xyz::-webkit-scrollbar{
    display: none;
}
.programs .row{
    width: 100vw;
}

.programs .img-box img {
    height: 550px;
    width: 500px;
    object-fit: contain;
    margin-top: 10px;
}

.why-choose-us{
    position: relative;
    z-index: 2;
    top: 695px;
    background-color: #fff;
    padding-top: 125px;
    padding-bottom: 70px;
}

.why-choose-us h2 {
    font-family: PlayFireDisplay;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 50px;
    margin-bottom: 43px;
    position: absolute;
    top: -111px;
}
.why-choose-us h2 span{
    color: #006D5A;
}
.why-choose-us .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.why-choose-us .points-box{
    margin-top: 30px;
}
.why-choose-us .img-box img {
    height: 466px;
    object-fit: cover;
}
.points{
    margin: 0px 60px ;
    border-left: 2px solid #bcbcbc;
    padding: 8px 40px ;
    width: 80%;
}
.points h3{
    font-family: boldfuturamdbt;
    font-size: 21px;
    color: #000000a8;
}
.points p {
    font-family: 'futuramdbt';
    font-size: 16px;
    color: #8d8b8b;
}
.plan a{
    text-decoration: none;
    color: #ffff;
}
 .active{
    border-color: #000;
}
 .active h3{
    color: #000;
}
 .active p{
    color: #000;
}

.sticky {
    position: sticky;
    top: 100px; /* Stick the section to the top when scrolled */
    z-index: 100;
    background-color: white;
  }
.points-box::-webkit-scrollbar{
    display: none;
}


.why-choose-us .img-box{
    background-color: #EFEFEF;
}
.why-choose-us .para {
    font-family: futuramdbt;
    font-size: 15px;
    color: #000000bf;
    margin-top: 10px;
    font-weight: 400;
}
.plan {
    background-color: #EFEFEF;
    position: relative;
    z-index: 2;
    top: 695px;
    padding: 60px;
    overflow: hidden;
}
.plan::after {
    position: absolute;
    content: '';
    background: url(/src/assets/image/Vector.png);
    top: -144px;
    right: 0;
    z-index: 3;
    height: 367px;
    width: 188px;
    background-size: contain;
}
.plan::before {
    position: absolute;
    content: '';
    background: url(/src/assets/image/vector2.png);
    bottom: -112px;
    left: 0;
    z-index: 3;
    height: 387px;
    width: 230px;
    background-repeat: no-repeat;
    background-size: contain;
}
.plan h2{
    font-family: PlayFireDisplay;
    font-size: 100px;
    font-weight: 600;
    color: #181515;
}
.plan h2 span{
    color: #006D5A;
}
.plan h2 p{
    font-size: 70px;
}
.get-started-btn{
    background-color: #006D5A;
    color: #fff;
    font-family: latoRegular;
    border: none;
    border: none;
    font-size: 21px;
    padding: 9px 41px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.testimonials{
    position: relative;
    z-index: 2;
    top: 695px;
    background-color: #fff;
    padding: 60px 0;
}
.testimonials h2{
    text-align: center;
    font-family: 'PlayFireDisplay';
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #006D5A;
}
.xyz {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth; /* Optional for smooth scrolling */
  }
  

  .fade-up {
    opacity: 0;
    transform: translateY(50px); /* Start from below */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .fade-up.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
  }

  
/* about modal Design */
.aboutVideo .modal-content{
    background-color: #fff !important;
    max-width: 30% !important;
    margin: 50px auto 0 !important;
    height: 500px !important;
}
.aboutVideo .modal-content video{
    object-fit: contain !important;
    border-radius: 10px !important;
}
.modleCBtn{
    border: none !important;
    right: -17px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px !important;
    background: transparent !important;
    top: 5px !important;
}
.talk-to-expert .select-search .form-control{
    border: none !important;
    border-radius: 0 !important;
    border-right: 1px solid #b9b9b9 !important;
}

@media (max-width:1024px) {
    .navbar-brand img {
        height: 90px;
        width: 90px;
        margin: 0px 0px;
        margin-right: 10px;
    }
    .texts {
        left: 30px;
        top: 71px;
        width: 85%;
        z-index: 2;
    }

    .heading {
        font-size: 54px !important;
        top: 20px;
    }
    .heading span {
        font-size: 56px !important;
    }

    .texts .para {
        font-size: 13px;
        left: 0px;
        top: 102px;
        width: 100%;
    }

    .btns {
        top: 223px;
    }
    .btns button {
        padding: 5px 10px;
        font-size: 12px !important;
    }
    
    .btns .bookSeion {
        font-size: 8px;
        padding: 4px 8px;
        border-radius: 4px;
        margin: 0 5px;
        margin-left: 0;
    }
    .btns .contactUS {
        font-size: 11px;
    }
    .btns .contactUS svg{
        font-size: 14px !important;
    }
    .counterup .row{
        padding: 0 !important;
        padding-left: 0px !important;
    }
    .about-us img {
        height: 100%;
        width: 100%;
    }
    .hero {
        background-color: #F3F3F3;
        height: 90vh;
        top: 60px !important;
    }
    .about-us {
        padding: 20px 0px !important;
        position: relative;
        top: 90vh !important;
        z-index: 2;
        background-color: #fff;
    }
    /* .fadeInUp{
        animation: none !important;
    } */

    .about-us h2 {
        font-family: PlayFireDisplay;
        font-size: 30px;
        font-weight: 600;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .about-us h3 {
        font-family: futuramdbt;
        font-size: 30px;
        color: #006D5A;
        margin-bottom: 10px;
    }
    .about-us p {
        font-family: futuramdbt;
        font-size: 13px;
        width: 100%;
    }
    .about-us .read-more-btn {
        background-color: #006D5A;
        color: #fff;
        font-family: futuramdbt;
        border: none;
        border: none;
        font-size: 13px !important;
        padding: 0px 15px !important;
        border-radius: 6px;
        margin: 0px 10px;
        margin-left: 0px;
        height: 35px;
    }
    .watch-btn {
        font-size: 13px !important;
        padding: 2px 15px !important;
        margin: 20px 10px !important;
    }
    .counterup {
        background-color: #EFEFEF;
        padding: 30px 15px;
        background-image: url(/src/assets/image/counterup-bg.png);
        background-position: center;
        position: relative;
        z-index: 2;
        top: 90vh;
        padding-left: 40px;
    }
    .counterup h3 {
        font-size: 30px !important;
        white-space: nowrap !important;
        margin-top: 20px;

    }
    .counterup p{
        margin-right: 0px;
        font-size: 13px;
        white-space: nowrap !important;
    }
    .why-choose-us h2 {
        font-family: PlayFireDisplay;
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
        margin-left: 10px;
        margin-bottom: 0px;
        position: absolute;
        top: -55px;
    }
    .why-choose-us {
        top: 90vh !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
    .points {
        margin: 0px 8px;
        border-left: 2px solid #bcbcbc;
        padding: 8px 20px;
        width: 100%;
    }
    .points h3{
        font-size: 15px;
    }
    .points p {
        font-family: 'futuramdbt';
        font-size: 13px;
        color: #8d8b8b;
    }
    .why-choose-us .img-box img {
        height: 341px;
        object-fit: contain;
    }
    .why-choose-us .para{
        font-size: 13px;
    }
    .plan {
        background-color: #EFEFEF;
        position: relative;
        z-index: 2;
        top: 90vh;
        padding: 100px 0;
        overflow: hidden;
    }
    .plan::after {
        position: absolute;
        content: '';
        background: url(/src/assets/image/Vector.png);
        top: -65px;
        right: 0px;
        z-index: 3;
        height: 200px;
        width: 100px;
        background-size: contain;
    }
    .plan::before {
        height: 241px;
        width: 94px;    
    }
    .plan h2 {
        font-size: 55px;
    }
    .plan h2 p {
        font-size: 40px;
    }
    .get-started-btn {
        background-color: #006D5A;
        color: #fff;
        font-family: latoRegular;
        border: none;
        border: none;
        font-size: 14px;
        padding: 7px 22px;
        border-radius: 7px;
        display: block;
        margin: 0 auto;
    }
    .testimonials {
        position: relative;
        z-index: 2;
        top: 90vh;
        background-color: #fff;
        padding: 30px 0;
    }
    .testimonials h2 {
        text-align: center;
        font-family: 'PlayFireDisplay';
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #006D5A;
    }
    .slider-container {
        background: url(/src/assets/image/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        padding: 5px 0 0px;
        background-position: center;
        overflow-x: hidden;
    }
    .box {
        height: 225px;
        width: 169px;
    }
    .center {
        top: 17px;
    }
    .right {
        z-index: 1;
        background-color: transparent;
        position: absolute;
        top: 65px;
        right: 21ypx;
    }

    .left {
        top: 65px;
        left: 217px;
    }
    .mailing {
        position: relative;
        top: 90vh !important;
        z-index: 5px;
        background-color: #EFEFEF;
        padding: 30px 0;
    }
    .mailing h2 {
        font-size: 25px !important;
    }
    .form-submit{
        height: 43px !important;
    }
    .mailing form{
        flex-direction: column;
    }
    .mailing form .form-control{
        width: 90% !important;
        height: 45px !important;
        margin-bottom: 10px;
    }
    .mailing p{
        font-size: 13px !important;
    }
    .footer{
        top: 90vh !important;
        padding: 0 !important;
        padding-top: 30px !important;

    }
    .footer .row{
        margin-left: unset !important;
        margin-right: unset !important;
    }
    .footer h2 {
        margin: 10px 0px !important;
        margin-bottom: 23px !important;
        text-align: left !important;
    }
    .footer li{
        margin-left: 0 !important;
    }
    .nav-btn {
        top: 50%;
    }
    .dots-container {
        bottom: 60px;
        left: 42%;
    }
    .dots-container .dot{
        height: 15px;
        width: 15px;
    }

    .next-btn {
        right: 26px !important;
    }
    .prev-btn {
        left: 2px;
    }

    .aboutVideo .modal-content {
        background-color: #fff !important;
        max-width: 100% !important;
        margin: 0px -10px 0 !important;
        height: 445px !important;
    }
    .modleCBtn{
        top: 10px !important;
        right: 0px !important;
    }
    .texts{
        top: 60px;
    }

    .texts .para {
        top: 174px;
        font-size: 15px;
    }
    .img img {
        position: absolute;
        right: 32px;
        top: 295px;
        height: 475px;
    }
    .talk-to-expert .range-box {
        height: 50px !important;
        padding: 10px !important;
    }
    .talk-to-expert .range-box .input-field{
        font-size: 13px !important;
    }
    .tolk-to-expert .select-search{
        font-size: 13px !important;
        height: 50% !important;
    }
    .tolk-to-expert .profile p {
        font-family: 'futuramdbt';
        font-size: 12px !important;
        opacity: 0.6;
        text-align: center;
        margin-top: 10px !important;
    }
    .tolk-to-expert .profile{
        margin-top: 20px !important;
    }
    .tolk-to-expert h2{
        font-size: 20px !important;
    }
    .tolk-to-expert button {
        width: 40%;
        height: 40px !important;
        margin: 0px 0 !important;
        font-size: 15px !important;
    }
    .form-footer {
        width: 100% !important;
        left: 0px !important;
        font-size: 10px !important;
    }
    .talk-to-expert .phone-input{
        font-size: 11px;
    }
}
@media (max-width:768px) {
    .img img {
        position: absolute;
        right: 23px;
        top: 295px;
        height: 392px;
    }
    .heading {
        font-size: 29px !important;
        top: 20px;
    }
    .heading span {
        font-size: 36px !important;
    }
    .btns {
        top: 150px;
    }
    .texts .para{
        top: 200px;
    }
    .slider-container {
        height: 358px;
    }
    .box {
        height: 140px;
        width: 100px;
    }
    .center{
        top: 0;
    }
    .left {
        top: 36px;
        left: 231px;
    }
    .right {
        z-index: 1;
        background-color: transparent;
        position: absolute;
        top: 36px;
        right: 231px;
    }
}

@media (max-width:512px) {
    .img img {
        right: 20px;
        top: 313px;
        height: 335px !important;
    }
    .dots-container {
        bottom: 47px;
        left: 36%;
    }
    .nav-btn{
        top: 75%;
    }

    .next-btn{
        right: 48px !important;
    }

    .prev-btn {
        left: 38px;
    }

    .btns .bookSeion {
        font-size: 9px;
        padding: 6px 10px;
        border-radius: 4px;
        margin: 0 10px;
        margin-left: 0;
    }
    .btns .contactUS{
        font-size: 12px;
    }
    .navbar-brand img {
        height: 65px;
        width: 65px;
        margin: 0px 0px;
        margin-right: 50px;
    }
    .navbar{
        padding: 0 !important;
    }
    .signup-btn {
        font-size: 12px;
        padding: 2px 19px 2px;
        border-radius: 6px;
        width: 80px;
        margin-left: 100px;
        height: 29px;
    }

    .counterup .row{
        padding: 0 !important;
        padding-left: 70px !important;
    }
    .personalize-program .mobile-padding .program-box {
        height: 450px !important;
    }
    .mobilePadding{
        padding-right: 0 !important;
    }
}
@media (max-width:400px) {
    .img img {
        height: 295px !important;
    }
}


