.navbar {
    background-color: #fff;
}

.navbar-brand img {
    height: 90px;
    width: 90px;
    margin: 0px 80px;
    margin-right: 80px;
}
.nav-link {
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: futuramdbt;
    color: #000 !important;
    margin: 0 15px;
}
.signup-btn {
    background-color: #006d5a;
    color: #fff;
    font-family: latoRegular;
    border: none;
    font-size: 18px;
    padding: 8px 40px;
    border-radius: 10px;
    width: 155px;
    height: 50px;
    margin-right: 0px !important;
}
.account{
    background: transparent;
    border: none;
    font-size: 19px;
    font-family: 'futuramdbt';
    color: #006D5A;
}
.account img {
    height: 25px;
    margin-right: 0px;
    margin-bottom: 4px;
    border: 2px solid #006D5A;
    border-radius: 50%;
}

.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 20px !important;
}
.signup-btn{
    margin-right: 0px !important;
}


.drobdown {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
  }
  
  .dropdown-content {
    display: none;
    background: #fff;
    min-width: 400px;
    position: absolute;
    z-index: 1;
    left: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.091);
    padding-bottom: 10px;
    opacity: 0;
    transition: all 0.7s linear;

}
  
  .dropdown-content a {
    display: block;
    color: #000000a8;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
    font-family: 'futuramdbt';
  }
  
  .dropdown-content a:hover {
    background: #f3f3f3;
    color: #000;
  }
  
  .dropdown:hover  .dropdown-content {
    opacity: 1;
    display: block;
  }


@media (max-width:768px) {
    .navbar-toggler {
        border: none !important;
        color: #006D5A !important;
        padding: 0 !important;
        font-size: 19px !important;
        margin-right: 10px;
    }
    .navbar-brand img {
        height: 45px;
        width: 45px;
        margin: 4px 20px;
        margin-right: 0px;
    }

    .account{
        position:relative;
        z-index: 44;
    }
    .account span{
        display: none ;
        position: absolute;
        top: 23px;
        right: 11px;
    }
    .account img {
        position: absolute;
        right: -51px;
        bottom: -14px;
        height: 19px;
    }
    
    .navbar-brand img {
        height: 45px;
        width: 45px;
        margin: 0px 9px !important;
        /* margin-right: 50px; */
    }
    .offcanvas.offcanvas-end {
        top: 73px !important;
        padding-left: 17px !important;
        padding-top: 19px !important;
    }
    .navbar-toggler:focus{
        box-shadow: unset !important;
    }
}