.onboarding .step{
    position: relative;
}

.onboarding .step p{
    position: absolute;
    right: -25px;
    bottom: -27px;
    background: #006d5b63;
    height: 25px;
    width: 25px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
.onboarding .active-step p{
    background: #006d5a;

}
.welcome-onboard .button {
    border: none;
    background: #006d5a;
    margin: 10px;
    color: #fff;
    padding: 5px 30px;
    border-radius: 3px;
    border: 1px solid #006d5a;

}
.welcome-onboard .outline{
    border: 1px solid #006d5a;
    color: #006d5a;
    background-color: transparent;
}
.welcome-onboard h2{
    color: #000;
}
.welcome-onboard p {
    color: #00000099;
    line-height: 20px;
    margin-bottom: 10px;
}
.welcome-onboard h4 strong{
    color: #000 !important;
}
.welcome-onboard h3{
    font-size: 20px;
    font-family: 'futuramdbt';
    text-align: center;
    margin-top: 30px;
}
.welcome-onboard {
    margin-top: 40px !important;
}
.onboarding-form .input{
    width: 100%;
}
.welcome-onboard .profile{
    border: 1px solid #00000066;
}
.welcome-onboard .profile h2{
    font-size: 20px;
    font-family: 'futuramdbt';
    margin: 0;
    color: #006d5a;
}
.welcome-onboard .custom-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #006d5a;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
    font-size: 20px !important;
}

/* Change border and background when checked */
.welcome-onboard .custom-checkbox:checked+.custom-label::before {
    border-color: #006d5a;
    /* Border color when checked */
    background-color: #006d5a;
    /* Background color when checked */
}
.welcome-onboard .custom-checkbox:checked+.custom-label::after {
    content: '';
    position: absolute;
    left: 7.5px;
    top: 9px;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
}
.welcome-onboard .input-box input[type="radio"]{
    height: 20px !important;
    width: 20px !important;
}
.onboarding-modal .modal-content button{
    position: unset !important;
}
.onboarding-modal .modal-content{
    background-color: #fff !important;
    padding-top: 40px;
    margin-top: 72px !important;
    height: 100% !important;
}
.onboarding-modal .process-footer {
    position: relative !important;
    bottom: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 80px;
}
.onboarding-modal .process-footer button, .submit-btn {
    background-color: #006D5A;
    color: #ffff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: futuramdbt;
    float: right;
    height: 31px;
    margin: 25px;
    padding: 0 70px;
    line-height: 30px;
    width: 95px;
}
.welcome-onboard .outline {
    border: 1px solid #006d5a;
    color: #006d5a;
    background-color: transparent;
    font-size: 16px;
    font-family: 'futuramdbt';
    padding: 10px 20px !important;
}
.onboarding-register-form .onboarding-modal .process-footer button, .submit-btn {
    background-color: #006D5A;
    color: #ffff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: futuramdbt;
    float: left;
    height: 34px;
    margin: 10px;
    padding: 0 70px;
    line-height: 30px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}
._monthInputField_1ny07_1 {
    width: var(--month-input-width);
    min-width: 200px;
    cursor: pointer;
    font-size: var(--month-input-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--month-input-padding);
    border-radius: 5px;
    border: 1px solid #0000005b;
    background: var(--input-bg-color);
    color: var(--input-text-color);
    margin-bottom: 1rem;
    font-size: 15px !important;
    color: #00000094 !important;
    /* font-family: 'futuramdbt'; */
    padding: 12px !important;
    width: 97% !important;
}
.PhoneInputInput {
    flex: 1;
    min-width: 460px !important;
    height: 45px;
    border: 1px solid #0000005e !important;
    border-radius: 3px !important;
}
.css-1jqq78o-placeholder , .css-19bb58m , .css-1wy0on6{
    height: 46px;
}
.css-13cymwt-control{
    height: 49px !important;
}
.css-1jqq78o-placeholder{
    position: absolute !important;
    top: 8px !important;
}
.css-19bb58m input{
    position: relative !important;
    bottom: 8px !important;
}
.css-t3ipsp-control{
    border:none !important;
    box-shadow: none !important;
    height: 49px !important;
}
.error-field{
    border-color:red !important ;
}
.onboarding-register-form label{
    margin-top: 3px;
}
.onboarding-register-form .green-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #006D5A;
    margin: 0 50px;
    border-radius: 10px;
    padding-right: 30px;
    transition: all .5s linear !important ;
}

.onboarding-register-form .green-box button {
    margin-left: 30px;
    border: none;
    background: #fff;
    height: 34px;
    width: unset !important;
    font-family: 'futuramdbt';
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 8px;
    text-align: center;
    padding: 0 26px;
}
.onboarding-register-form .submit{
    border: 1px solid #fff !important;
    background: transparent !important;   
    color: #fff !important;
}
.onboarding-register-form .green-box p{
    font-size: 12px;
    font-family: futuramdbt;
    margin-left: 30px;
}
.onboarding-register-form .floating-price{
    transition: all 1s linear !important ;
}
 .mobile-input{
    display: flex;
    border: 1px solid #6963639c;
    height: 46px;
    padding: 0;
    margin-top: 10px;
    border-radius: 5px;
    width: 97%;
}
 .mobile-input .css-b62m3t-container {
    width: 80px !important;
    margin-top: 0 !important;
}

 .mobile-input .css-13cymwt-control ,  
 .mobile-input .css-t3ipsp-control{
    border: none !important;
    /* border-bottom: 1px solid #6963639c !important ; */
    height: 44px !important;
    font-size: 12px !important;


}
.css-t3ipsp-control{
    width: 100px !important;
    font-size: 12px !important;
}
.css-1nmdiq5-menu{
    background-color: #fff !important;
}
 .mobile-input input{
    width: 100%;
    border: none !important;
    margin: 0 !important;
    height: 40px !important;
}
 .mobile-input input:focus-visible{
    border: none !important;
    outline: none !important;
}
 .mobile-input .css-1xc3v61-indicatorContainer{
    display: none !important;
}
 .mobile-input .css-t3ipsp-control .css-1xc3v61-indicatorContainer{
    display: none !important;
}
 .css-1nmdiq5-menu{
    width: 200px !important;
}
.onboarding-register-form .form-check-label{
    margin-bottom: 4px;
    text-transform: unset !important;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding-left: 7px;
}
.onboarding-register-form .dobLabal {
    position: relative;
    top: -10px !important;
    font-family: 'futuramdbt';
}
.onboarding-register-form .MuiFormControl-root {
    margin-top: -22px !important;
    width: 98%;

}
.onboarding-register-form .form-check-label {
    margin-bottom: 4px;
    text-transform: capitalize !important;
    font-size: 16px;
    font-weight: 400;
    color: #000000ef;
    padding-left: 7px;
    font-family: futuramdbt !important;
}
.onboarding-register-form .time-picker-input-group{
    height: 46px !important;
    width: 97%;
}
.onboarding-register-form label {
    margin-top: 3px;
    font-family: 'futuramdbt';
}
.onboarding-register-form .Other-Input{
    width: 100%;
    margin-top: 10px;
    /* border: none;
    border-bottom: 1px solid #00000085; */
    /* border-radius: 0 ; */

}
.onboarding-register-form .input-box input[type="radio"]{
    display: none !important;
}
.onboarding-register-form .custom-radio + .form-check-label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px !important;
    margin-left: 0px !important;
    width: 261px;
    line-height: 20px;
}

.iLlmw9nvWQp6MsANxMu_.XXKN9NWALj8Xe4ed0s7r {
    background-color: #006d5a12 !important;
    color: #006D5A !important;
    font-weight: bold;
}
.iLlmw9nvWQp6MsANxMu_.XXKN9NWALj8Xe4ed0s7r._lrzLkVHHVwPQ4AFxtPK{
    color: #006D5A !important;
}
.iLlmw9nvWQp6MsANxMu_.XXKN9NWALj8Xe4ed0s7r._lrzLkVHHVwPQ4AFxtPK {
    color: #006D5A !important ;
}
.onboarding-register-form button:disabled {
    background-color: #ffffff63 !important;
    color: unse !important;
    opacity: 0.8 !important;
}
.onboarding-register-form .submit:disabled {
    background-color: unset !important;
    color: unse !important;
    opacity: 0.5 !important;
}

.mobile-input input {
    width: 70%;
    border: none !important;
    margin: 0 !important;
    height: 40px !important;
    position: absolute;
    left: 54px;
    right: x;
    z-index: 222;
    background: #fff;
}
@media (max-width:520px) {
    .process-heading h2 {
        font-size: 20px ;
        margin-top: 0px;
        width: 90%;
    }
    .welcome-onboard{
        margin-top: 0 !important;
    }
    .welcome-onboard .container{
        margin-top: 0 !important;
    }
    .genderOpt {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
    }
    .profile .dob .MuiInputBase-root{
        margin-top: 10px !important;
    }
    .welcome-onboard .profile h2 {
        font-size: 15px;
        margin-top: 10px;
    }
    .profile .input-box input {
        margin: 10px 0;
        margin-bottom: 12px;
        font-size: 13px;
        padding: 0 14px;
    }
    .onboarding-register-form label {
        margin-top: 3px;
        font-family: 'futuramdbt';
        font-size: 13px;
    }
    .welcome-onboard .custom-checkbox:checked+.custom-label::after{
        top: 10px;
    }
    .process-page .onboarding{
        padding: 0 !important;
        padding-right: 20px !important;
    }
    .onboarding .step p {
        position: absolute;
        right: -19px;
        bottom: -24px;
        background: #006d5b63;
        height: 18px;
        width: 18px;
        font-size: 11px;
    }
    .onboarding .step{
        width: 120%;
        height: 1px;
    }
    .process-heading h2 {
        font-size: 15px;
    }
    .welcome-onboard p {
        line-height: 14px;
        font-size: 12px;
    }
    .welcome-onboard .button {
        padding: 4px 30px;
        font-size: 12px;
    }
    .welcome-onboard .outline {
        border: 1px solid #006d5a;
        color: #006d5a;
        background-color: transparent;
        font-size: 16px;
        font-family: 'futuramdbt';
        padding: 6px 8px !important;
        width: 60%;
        font-size: 12px !important;
    }
    .onboarding-modal .process-footer button, .submit-btn {
        border: none;
        border-radius: 5px;
        font-size: 13px;
        font-family: futuramdbt;
        float: right;
        height: 26px;
        margin: 15px;
        padding: 0 70px;
        line-height: 23px;
        width: 84px;
    }
    .onboarding-modal .process-footer {
        position: relative !important;
        bottom: 0px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        height: 56px;
    }
    .onboarding .active-step p {
        background: #006d5a;
    }
    
    .welcome-onboard h4 strong {
        font-size: 13px;
        margin: 0;
    }
}