
body {
	overflow-y: visible;
	overflow-x: hidden;
}


#container {
	height: 100vh;
	width: 400%; /* Set width based on sections */
	display: flex;
	flex-wrap: nowrap;
}

.horizontal-section {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; /* Ensure content stacks vertically */
}

.horizontal-section .prog {
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    padding: 20px;
}

.arrow-point{
    position: absolute;
    top: 0;
    left: 0;
    height: 97px;
}



.img-box img {
	width: 100%; /* Ensure images are responsive */
	height: auto; /* Maintain aspect ratio */
}

.prog .content svg {
    color: #006D5A;
    font-size: 13px;
    margin: 7px;
    margin-left: 0;
    font-weight: 300;
    font-family: futuramdbt;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.prog .content li{
	display: flex;
	align-items: center;
	justify-content: start;
	font-family: lightfuturamdbt;
    font-size: 16px !important;
}
.programs .content {
    padding: 20px 60px;
    /* margin-top: 75px; */
}
.modal-dialog{
	max-width: 1200px !important;
}

.modal-content{
	width: 100% !important;
	margin-top: 100px !important;
	background-color: #000 !important;
	height: 500px !important;
}
.modal-body{
	padding: 0 !important;
}
.modal-content button{
    position: absolute;
    z-index: 7;
    top: -15px;
    right: -13px;
    color: #fff;
    border: 2px solid #000;
    background: #fff;
    border-radius: 22px;
    color: #000;
    font-size: 23px;
    line-height: 14px;
    padding: 0 4px !important;
    padding-bottom: 7px !important;
}
.program-box .program-img {
    height: 220px;
    width: 170px;
}