.slotForm .container h1 {
  font-family: boldfuturamdbt;
  font-size: 30px;
  text-align: center;
  margin: 0 20px;
  margin-top: 10px;
  margin-bottom: 36px;
}
.slotForm .container h1 span{
    color: #006D5A !important;
}
.slotForm .container input[type="radio"]{
    display: none !important;
}
.custom-radio-container {
    position: relative;
    display: flex;
    align-items: start !important;
  }
  
  .custom-radio {
    position: absolute;
    opacity: 0; /* Hide the native radio button */
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .custom-radio + .form-check-label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px !important;
    margin-left: 20px !important;
    width: 250px;
    line-height: 20px;
}
  
  .custom-radio + .form-check-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #006D5A; /* Border color for the circle */
    border-radius: 50%;
    background-color: white; /* Background for the circle */
    transition: all 0.3s ease;
  }
  
  .custom-radio:checked + .form-check-label::before {
    background-color: #006D5A; /* Change the background color when checked */
    border-color: #006D5A; /* Change border color when checked */
  }
  
  .custom-radio + .form-check-label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .custom-radio:checked + .form-check-label::after {
    opacity: 1; 
    background-color: white;
  }
  .fri-btn{
    background: #006d5b15;
    padding: 5px 10px;
    border: 1px solid #006d5a;
    color: #006d5a;
    font-family: 'futuramdbt';
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px;
    /* margin-left: 20px; */
    border-radius: 2px;
    width: 150px;
  }
  .slots{
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .slot-booking-btn {
    margin-left: 406px;
    background-color: #006d5a;
    border: none;
    color: #fff;
    padding: 4px 25px 5px;
    width: 310px;
    font-family: futuramdbt;
    border: 1px solid #006D5A;
    margin-top: 9px;
    transition: all 1s ease-in-out;
}

/* nutrition form dessign */
.nutrition{
  padding:20px 80px;
  margin: 40px;
}
.nutrition h1{
  font-family: 'boldfuturamdbt';
  text-align: center;
  font-size: 39px;
  margin: 20px;
}
.nutrition h1 span{
  color: #006D5A;
}
.nutrition textarea{
  width: 98%;
  margin: 10px 0 20px; 
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #a8a8a8;
}
.nutrition .form-check-label {
  font-size: 14px;
  color: #5c5b5b !important;
}
.nutrition h6{
  font-size: 18px !important;
  margin: 10px 0 !important;
}
.nutrition .time-picker input {
  border: none !important;
  height: 35px;
margin: 0 !important;
padding: 0  !important;
}
.time-picker-input-group{
  border: 1px solid #a8a8a8 !important;
  margin-top: 10px;
}
.time-picker-input-group:has(:focus), .time-picker.show .time-picker-input-group{
  border: 1px solid #000 !important;
  box-shadow: none !important;
}
.time-picker-roll-cell.selected{
  background-color: #006D5A !important;
}
 .btn-primary{
  background-color: #006D5A !important;
}
.form-check-input:checked {
  background-color: #006D5A !important;
  border-color: #006D5A !important;
}
.add-booking .select-search-input , .add-booking input[type="text"] {
  display: flex;
  align-items: center;
  justify-content: center !important;
  padding-right: 0 !important;
  padding-left: 60px !important;
  height: 50px !important;
  border: none !important;
  background: #E9EEF6 !important;
  border-radius: 5px !important;
  width: 80%;
  font-family: 'futuramdbt';
}
.add-booking .select-search-input , .add-booking input[type="text"]:active{
  border: none !important;
  outline: none !important;
}
.add-booking .select-search-input , .add-booking input::placeholder{
  font-family:futuramdbt ;
  color: #000 !important;
}
.select-search-container {
  width: 280px !important;
  height: 40px !important;
}
.add-booking h3{
  font-size: 15px !important;
}
.days-btn{
  height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 0px 5px 1px #cccccc85;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 6px;
    font-family: futuramdbt;
    border: none;
}
.add-booking .select-search-is-selected{
  background: #E9EEF6 !important;
}
.add-booking .profile, .address {
  padding: 20px 69px 40px;
  margin: 17px 110px;
  border-radius: 8px;
  box-shadow: 1px 1px 14px #d9d9d970;
}
.add-booking .form-switch .form-check-input{
  margin-left: 40px !important;
}
.time-to{
  position: relative;
}
.time-to::before{
  position: absolute;
  content: 'To';
  top: 15px;
  left: -24px;
  font-family:futuramdbt ;
}

@media (max-width:1024px) {
  .slotForm .container h1 {
    font-family: boldfuturamdbt;
    font-size: 17px;
    text-align: center;
    margin: 10px 20px 36px;
}
.slotForm .slotForm .container h1 {
  font-family: boldfuturamdbt;
  font-size: 17px;
  text-align: center;
  margin: 10px 20px 36px;
}
.days-btn {
  height: 35px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 5px 1px #cccccc85;
  font-size: 11px;
  letter-spacing: 1px;
  border-radius: 3px;
  font-family: futuramdbt;
  border: none;
}
.add-booking .form-switch .form-check-input {
  margin-left: 8px !important;
}
.add-booking .select-search-input, .add-booking input[type="text"] {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  padding-right: 0 !important;
  padding-left: 10px !important;
  height: 35px !important;
  border: none !important;
  background: #E9EEF6 !important;
  border-radius: 5px !important;
  width: 45%;
  font-family: 'futuramdbt';
  font-size: 10px;
  margin-left: 9px;
}

.add-booking .form-switch {
  padding-left: 0em !important;
}
.time-to::before {
  position: absolute;
  content: 'To';
  top: 8px;
  left: -12px;
  font-family: futuramdbt;
  font-size: 12px;
}
.time-to input {
  width: 106px !important;
  padding-left: 5px !important;
}
.select-search-container {
  width: 200px !important;
  height: 40px !important;
}
.select-search-select{
  width: 200px !important;
}

}

@media (max-width:400px) {
  .add-booking .form-switch .form-check-input {
    margin-left: 8px !important;
  }
  .add-booking .select-search-input, .add-booking input[type="text"] {
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding-right: 0 !important;
    padding-left: 10px !important;
    height: 35px !important;
    border: none !important;
    background: #E9EEF6 !important;
    border-radius: 5px !important;
    width: 42%;
    font-family: 'futuramdbt';
    font-size: 10px;
    margin-left: 9px;
  }
  
  .add-booking .form-switch {
    padding-left: 0em !important;
  }
  .time-to::before {
    position: absolute;
    content: 'To';
    top: 8px;
    left: 0px;
    font-family: futuramdbt;
    font-size: 13px;
  }
  .time-to input{
    width: 70px !important;
    padding-left: 5px !important;
  }
  .select-search-container {
    width: 200px !important;
    height: 40px !important;
  }
  .select-search-select{
    width: 150px !important;
    top: -10px !important;
  }
}